@font-face {
  font-family: Cursed Timer ULiL;
  src: url("CursedTimerUlil-Aznm.ttf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1578354985657-65776ee4ae90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjUxfHxiYXNrZXRiYWxsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  font-family: "Cursed Timer ULiL";
}
.outer-container {
  display: flex;
  flex-direction: column;
  width: 575px;
  height: 385px;
  background: rgb(27, 36, 74, 0.7);
  padding: 5px;
  padding-bottom: 60px;
}

.message {
  font-family: "Caveat", cursive;
  color: #ffff00;
  text-shadow: 0 0 2px white;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.home-guest {
  align-self: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
h3 {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #eeeeee;
  margin-bottom: 15px;
  margin-top: 0;
}
h4 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  text-align: center;
  color: #f94f6d;
  background: #111827;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 155px;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

button {
  background: transparent;
  color: #9aabd8;
  border: 3px solid #9aabd8;
  border-radius: 5px;
  padding: 10px;
}
